<div class="task">
  <div class="task-info">
    <h3 myColor>{{ task.taskTitle }}</h3>
    <span class="task-day">{{ task.day }}</span>
  </div>

  <div class="icons">
    <i
      class="material-icons"
      (click)="onSwitch(task)"
      [ngClass]="{ active: task.reminder }"
      >schedule</i
    >
    <i
      class="material-icons"
      (click)="onToggle(task)"
      [ngClass]="{ active: task.isFavorite }"
      >favorite</i
    >
    <i class="material-icons" (click)="onDelete(task)">delete</i>
  </div>
</div>
