form {
  max-width: 350px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

input {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
}
.form-control {
  display: flex;
  flex-direction: column;
}
